<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="Elmah.Io.NLog" />
	</extensions>

	<targets>
		<target name="elmahio" xsi:type="elmah.io" apiKey="ad7ddbf41d25497288b9782c9bf0e96c" logId="6475e6db-d976-4eee-aad4-1fbf21f6f321" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="elmahio" />
	</rules>
</nlog>













<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\Workspace\mocknew\mock\MOCK_CourseAPI\internal_logs\internallog.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="D:\Workspace\mocknew\mock\MOCK_CourseAPI\internal_logs\logs\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>-->

