<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="E:\workspace\mocknew\mock3\mock\MOCK_CourseAPI\internal_logs\internallog.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="E:\workspace\mocknew\mock3\mock\MOCK_CourseAPI\internal_logs\logs\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>

		<target name="db"
			xsi:type="Database"
			connectionString="server=tcp:mock3-project.database.windows.net;Database=CourseAPI_db;user id=mock-project@mock3-project;password=Hoangtung230802"
			commandType="StoredProcedure"
			commandText="[dbo].[NLog_AddEntry_p]"
			dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        >
			<parameter name="@machineName"    layout="${machinename}" />
			<parameter name="@logged"         layout="${date}" />
			<parameter name="@level"          layout="${level}" />
			<parameter name="@message"        layout="${message}" />
			<parameter name="@logger"         layout="${logger}" />
			<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="@callsite"       layout="${callsite}" />
			<parameter name="@exception"      layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="db" />
	</rules>
</nlog>



<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Database"
				name="database"
				dbProvider="System.Data.SqlClient"
				connectionString="Data Source=tcp:mock3-project.database.windows.net,1433;Initial Catalog=CourseAPI_db;User Id=mock-project@mock3-project;Password=Hoangtung230802"
				commandText="INSERT INTO [logs](datetime,message,lvl) VALUES (getutcdate(),@msg,@level)">
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>-->












<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\Workspace\mocknew\mock\MOCK_CourseAPI\internal_logs\internallog.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="D:\Workspace\mocknew\mock\MOCK_CourseAPI\internal_logs\logs\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>-->

